.main {
    transition: opacity 1s ease-in-out;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $darkblue;
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    .anime{
        width: 300px;
        height: 300px;
    }
    .arc{
        width: 2.75rem;
        height: 2.75rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &::before {
        content: "";
        position: absolute;
        border-radius: 16.75rem;
        background: linear-gradient(-45deg, $skyblue 5%, $darkblue 100%);
        top: calc(33% - 1.25rem);
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 55rem;
        height: 55rem;
        filter: blur(5rem);
        z-index: -1;
        @media (max-width: 575.98px) {
            width: 20rem;
            height: 40rem;
            top: calc(40% - 1.25rem);
            border-radius: 5rem;
        }
        @media (min-width: 576px) and (max-width: 991.98px) {
            width: 40rem;
            height: 40rem;
            top: calc(43% - 1.25rem);
            border-radius: 10rem;
        }
        @media (min-width: 992px) and (max-width: 1299.98px) {
            width: 48rem;
            height: 48rem;
            top: calc(40% - 1.25rem);
        }
    }
}

.hide-preloader {
    z-index: -999;
    display: none;
}