@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
@font-face {
  font-family: 'Evolventa-Regular';
  src: url("../Fonts/Evolventa-Regular.ttf");
}

@font-face {
  font-family: 'Evolventa-Bold';
  src: url("../Fonts/Evolventa-Bold.ttf");
}

@font-face {
  font-family: 'Evolventa-Oblique';
  src: url("../Fonts/Evolventa-Oblique.ttf");
}

:root {
  --white: #FAFAFA;
  --skyblue: #568AAA;
  --darkblue: #122E47;
  --black: #0B0C0C;
  --font1: 'Rubik', sans-serif;
  --font2: 'Evolventa-Regular', sans-serif;
  --font3: 'Evolventa-Bold', sans-serif;
  --font4: 'Evolventa-Oblique', sans-serif;
}

.main {
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.view-content {
  opacity: 1;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--darkblue);
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99999;
}

.preloader::before {
  content: "";
  position: absolute;
  border-radius: 16.75rem;
  background: linear-gradient(-45deg, var(--skyblue) 5%, var(--darkblue) 100%);
  top: calc(33% - 1.25rem);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 55rem;
  height: 55rem;
  -webkit-filter: blur(5rem);
          filter: blur(5rem);
  z-index: -1;
}

@media (max-width: 575.98px) {
  .preloader::before {
    width: 20rem;
    height: 40rem;
    top: calc(40% - 1.25rem);
    border-radius: 5rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .preloader::before {
    width: 40rem;
    height: 40rem;
    top: calc(43% - 1.25rem);
    border-radius: 10rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .preloader::before {
    width: 48rem;
    height: 48rem;
    top: calc(40% - 1.25rem);
  }
}

.hide-preloader {
  z-index: -999;
  display: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: transparent;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  padding: 2rem 0;
}

.header .header-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991.98px) {
  .header .header-contents {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header .header-contents .logo {
  width: 25%;
}

.header .header-contents .logo img {
  width: 20rem;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

@media (max-width: 575.98px) {
  .header .header-contents .logo img {
    width: 15rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .header .header-contents .logo img {
    width: 15rem;
  }
}

.header .header-contents .nav-right {
  width: 75%;
}

@media (max-width: 991.98px) {
  .header .header-contents .nav-right {
    display: none;
  }
}

.header .header-contents .nav-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-contents .nav-right ul li {
  position: relative;
  z-index: 1;
}

.header .header-contents .nav-right ul li::after {
  content: " ";
  position: absolute;
  bottom: -.5rem;
  left: 0;
  height: .2rem;
  background-color: var(--white);
  width: 0;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header .header-contents .nav-right ul li:hover::after {
  width: 100%;
}

@media (max-width: 1100px) {
  .header .header-contents .nav-right ul li:hover::after {
    width: inherit;
  }
}

.header .header-contents .nav-right ul li:last-child {
  border: 0.125rem solid var(--white);
  padding: 0.75rem 1.75rem;
  border-radius: 2.75rem;
  -webkit-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}

.header .header-contents .nav-right ul li:last-child:hover {
  border-radius: 0;
}

.header .header-contents .nav-right ul li:last-child:hover::after {
  width: 0%;
}

.header .header-contents .nav-right ul li a {
  font-size: 1.25rem;
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header .header-contents .nav-right li {
  margin-left: 4rem;
}

.header .header-contents .mobile-design .nav-toggle {
  z-index: 9000;
  cursor: pointer;
  padding-right: 1rem;
}

.header .header-contents .mobile-design .nav-toggle .top {
  display: block;
  width: 1.625rem;
  height: 0.125rem;
  background-color: var(--white);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  margin-bottom: 0.35rem;
}

.header .header-contents .mobile-design .nav-toggle .mid {
  display: block;
  width: 1.625rem;
  height: 0.125rem;
  background-color: var(--white);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  margin-bottom: 0.35rem;
  position: relative;
}

.header .header-contents .mobile-design .nav-toggle .bot {
  display: block;
  width: 1.625rem;
  height: 0.125rem;
  background-color: var(--white);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header .header-contents .mobile-design .nav-toggle .top, .header .header-contents .mobile-design .nav-toggle .bot {
  -webkit-transform-origin: 0.1875rem 0.125rem;
          transform-origin: 0.1875rem 0.125rem;
}

.header .header-contents .mobile-design .nav-full ul {
  position: absolute;
  width: 70%;
  background-color: var(--skyblue);
  top: 0;
  right: -100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (10vh)[5];
      grid-template-rows: repeat(5, 10vh);
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  text-align: center;
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .header .header-contents .mobile-design .nav-full ul {
    width: 50%;
  }
}

.header .header-contents .mobile-design .nav-full ul li a {
  text-align: center;
  font-size: 1.25rem;
  color: var(--white);
}

.header .header-contents .mobile-design .nav-full ul li:last-child a {
  border: 0.125rem solid var(--white);
  padding: 0.75rem 1.75rem;
  border-radius: 1.75rem;
}

.open .mid {
  opacity: 0;
}

.open .top {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.open .bot {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.open .mobile-design .nav-full ul {
  right: 0 !important;
}

.fixed-header {
  padding: .5rem 0;
  -webkit-box-shadow: 0px 0.1875rem 0.375rem var(--darkblue);
          box-shadow: 0px 0.1875rem 0.375rem var(--darkblue);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  background: var(--darkblue);
}

@media (max-width: 575.98px) {
  .fixed-header {
    padding: 1.5rem 0;
  }
}

.fixed-header .header-contents .logo {
  width: 25%;
}

.fixed-header .header-contents .logo img {
  width: 15rem;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

@media (max-width: 575.98px) {
  .fixed-header .header-contents .logo img {
    width: 10rem;
  }
}

.fixed-header .header-contents .nav-right ul li a {
  font-size: 1rem;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.desktop-hidden {
  display: none;
}

@media (max-width: 991.98px) {
  .desktop-hidden {
    display: inherit;
  }
}

.hero {
  padding-top: 10rem;
}

.hero .hero-contents {
  position: relative;
  text-align: center;
}

.hero .hero-contents h1 {
  font-size: 8.375rem;
  text-transform: uppercase;
  font-weight: 700;
}

@media (max-width: 575.98px) {
  .hero .hero-contents h1 {
    font-size: 4rem;
  }
}

@media (max-width: 320px) {
  .hero .hero-contents h1 {
    font-size: 3.25rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .hero .hero-contents h1 {
    font-size: 6rem;
  }
}

.hero .hero-contents h1 span {
  font-weight: 400;
}

.hero .hero-contents h2 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 400;
}

@media (max-width: 575.98px) {
  .hero .hero-contents h2 {
    font-size: 1.90rem;
  }
}

@media (max-width: 320px) {
  .hero .hero-contents h2 {
    font-size: 1.55rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .hero .hero-contents h2 {
    font-size: 2.85rem;
  }
}

.hero .hero-contents h2 span {
  font-weight: 700;
}

.hero .hero-contents p {
  width: 80%;
  font-size: 1.25rem;
  margin: 0 auto;
  padding: 2rem 0 3rem 0;
  line-height: 1.25;
}

@media (max-width: 575.98px) {
  .hero .hero-contents p {
    font-size: 1rem;
    line-height: 1.5;
  }
}

@media (max-width: 1299.98px) {
  .hero .hero-contents p {
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  .hero .hero-contents .hero-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hero .hero-contents .hero-btn a button {
  border: 0.125rem solid var(--white);
  padding: 1rem 3rem;
  border-radius: 2.75rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--darkblue);
  margin: 0 2.5rem;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

@media (max-width: 575.98px) {
  .hero .hero-contents .hero-btn a button {
    margin: 1rem 2.5rem;
    font-size: 1rem;
  }
}

.hero .hero-contents .hero-btn a button:hover {
  border-radius: 0;
}

.hero .hero-contents .hero-btn a:nth-child(2n+1) button {
  background: none;
  color: var(--white);
}

.hero .hero-contents img {
  padding: 5.5rem 0 2rem 0;
  width: 100%;
}

.hero .hero-contents::before {
  content: "";
  position: absolute;
  border-radius: 16.75rem;
  background: linear-gradient(-45deg, var(--skyblue) 5%, var(--darkblue) 100%);
  top: calc(33% - 1.25rem);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 55rem;
  height: 55rem;
  -webkit-filter: blur(5rem);
          filter: blur(5rem);
  z-index: -1;
}

@media (max-width: 575.98px) {
  .hero .hero-contents::before {
    width: 20rem;
    height: 40rem;
    top: calc(40% - 1.25rem);
    border-radius: 5rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .hero .hero-contents::before {
    width: 40rem;
    height: 40rem;
    top: calc(43% - 1.25rem);
    border-radius: 10rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .hero .hero-contents::before {
    width: 48rem;
    height: 48rem;
    top: calc(40% - 1.25rem);
  }
}

.features {
  position: relative;
  padding-top: 5rem;
}

.features .features-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features .features-contents .single-item {
  width: 30%;
  text-align: center;
  margin: 0 1rem;
  margin-bottom: 3rem;
  position: relative;
}

@media (max-width: 575.98px) {
  .features .features-contents .single-item {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .features .features-contents .single-item {
    width: 40%;
  }
}

.features .features-contents .single-item img {
  width: 9.375rem;
  height: 9.375rem;
  margin-bottom: 2.5rem;
}

@media (max-width: 575.98px) {
  .features .features-contents .single-item img {
    width: 6rem;
    height: 6rem;
  }
}

.features .features-contents .single-item h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.features .features-contents .single-item p {
  font-size: 1.125rem;
  padding: 1rem 0;
  line-height: 1.5rem;
}

.features .features-contents .single-item::before {
  content: "";
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(5%, var(--skyblue)), to(var(--darkblue)));
  background: linear-gradient(0deg, var(--skyblue) 5%, var(--darkblue) 100%);
  -webkit-filter: blur(2rem);
          filter: blur(2rem);
  top: 5rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 7rem;
  height: 7rem;
  border-radius: 2rem;
  z-index: -1;
}

@media (max-width: 575.98px) {
  .features .features-contents .single-item::before {
    top: 0;
  }
}

.about {
  padding: 10rem 0 7rem 0;
  position: relative;
  z-index: 1;
}

.about .about-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991.98px) {
  .about .about-contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about .about-contents .about-right {
  width: 50%;
  padding-right: 9rem;
}

@media (max-width: 991.98px) {
  .about .about-contents .about-right {
    padding-right: 0;
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .about .about-contents .about-right {
    padding-right: 5rem;
  }
}

.about .about-contents .about-right h6 {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 1.5rem;
}

.about .about-contents .about-right h2 {
  font-size: 3rem;
  font-weight: 500;
  padding-bottom: 3.5rem;
}

@media (max-width: 575.98px) {
  .about .about-contents .about-right h2 {
    font-size: 2.125rem;
  }
}

@media (max-width: 320px) {
  .about .about-contents .about-right h2 {
    font-size: 2rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .about .about-contents .about-right h2 {
    font-size: 2rem;
  }
}

.about .about-contents .about-right p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
  padding-bottom: 1rem;
}

.about .about-contents .about-right button {
  border: 0.125rem solid var(--white);
  padding: 1rem 3rem;
  border-radius: 2.75rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--darkblue);
  text-transform: uppercase;
  cursor: pointer;
  margin: 2rem 0;
}

@media (max-width: 575.98px) {
  .about .about-contents .about-right button {
    font-size: 1rem;
  }
}

.about .about-contents .about-right button:hover {
  border-radius: 0;
  -webkit-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}

.about .about-contents .about-left {
  width: 50%;
  position: relative;
}

@media (max-width: 991.98px) {
  .about .about-contents .about-left {
    text-align: center;
    width: 100%;
  }
}

.about .about-contents .about-left img {
  width: 39rem;
  height: 41.4375rem;
}

@media (max-width: 575.98px) {
  .about .about-contents .about-left img {
    width: 100%;
    height: auto;
  }
}

.about .about-contents .about-left::before {
  content: "";
  position: absolute;
  border-radius: 16.75rem;
  background: linear-gradient(-45deg, var(--skyblue) 5%, var(--darkblue) 100%);
  top: calc(33% - 1.25rem);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 28rem;
  height: 28rem;
  -webkit-filter: blur(5rem);
          filter: blur(5rem);
  z-index: -1;
}

@media (max-width: 575.98px) {
  .about .about-contents .about-left::before {
    width: 20rem;
    height: 20rem;
  }
}

.about .about-below {
  padding-top: 7rem;
}

.about .about-below h2 {
  font-size: 3rem;
  font-weight: 500;
  padding-bottom: 3.5rem;
}

@media (max-width: 575.98px) {
  .about .about-below h2 {
    font-size: 2.125rem;
  }
}

@media (max-width: 320px) {
  .about .about-below h2 {
    font-size: 2rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .about .about-below h2 {
    font-size: 2rem;
  }
}

.about .about-below p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
  padding-bottom: 1rem;
}

.about .about-below h6 {
  font-family: var(--font4);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
  padding-bottom: 1rem;
}

.about .about-below h6 span {
  font-weight: 700;
}

.about .about-below button {
  border: 0.125rem solid var(--white);
  padding: 1rem 3rem;
  border-radius: 2.75rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--darkblue);
  text-transform: uppercase;
  cursor: pointer;
  margin: 2rem 0;
}

@media (max-width: 575.98px) {
  .about .about-below button {
    font-size: 1rem;
  }
}

.about .about-below button:hover {
  border-radius: 0;
  -webkit-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}

.product {
  padding-top: 8rem;
  position: relative;
}

.product::before {
  content: "";
  position: absolute;
  background: linear-gradient(137.59deg, rgba(161, 198, 221, 0.3) 0%, rgba(161, 198, 221, 0.135) 100%);
  -webkit-filter: blur(1);
          filter: blur(1);
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 2rem;
  bottom: 0;
}

.product .layer-blur {
  content: "";
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
}

.product .blur-top {
  border-radius: 5rem;
  background: -webkit-gradient(linear, left top, right top, color-stop(100%, #5c8198), to(var(--darkblue)));
  background: linear-gradient(90deg, #5c8198 100%, var(--darkblue) 100%);
  top: 2rem;
  right: 0;
  width: 50rem;
  height: 45rem;
  -webkit-filter: blur(12rem);
          filter: blur(12rem);
}

@media (max-width: 575.98px) {
  .product .blur-top {
    width: 20rem;
    height: 40rem;
  }
}

@media (min-width: 576px) and (max-width: 1299.98px) {
  .product .blur-top {
    width: 40rem;
    height: 40rem;
  }
}

.product .blur-middle {
  border-radius: 5rem;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(100%, #5c8198), to(var(--darkblue)));
  background: linear-gradient(0deg, #5c8198 100%, var(--darkblue) 100%);
  top: 110rem;
  left: 0;
  right: 0;
  width: 40rem;
  height: 30rem;
  -webkit-filter: blur(12rem);
          filter: blur(12rem);
}

@media (max-width: 575.98px) {
  .product .blur-middle {
    width: 20rem;
    height: 40rem;
    top: 140rem;
  }
}

.product .blur-bottom {
  border-radius: 5rem;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(100%, #5c8198), to(var(--darkblue)));
  background: linear-gradient(0deg, #5c8198 100%, var(--darkblue) 100%);
  top: 200rem;
  left: 0;
  width: 50rem;
  height: 60rem;
  -webkit-filter: blur(12rem);
          filter: blur(12rem);
}

@media (max-width: 575.98px) {
  .product .blur-bottom {
    width: 20rem;
    height: 40rem;
    top: 240rem;
  }
}

.product .product-contents .product-top {
  text-align: center;
}

.product .product-contents .product-top h6 {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 1.5rem;
}

.product .product-contents .product-top h2 {
  font-size: 3rem;
  font-weight: 500;
  padding-bottom: 1rem;
}

@media (max-width: 575.98px) {
  .product .product-contents .product-top h2 {
    font-size: 2.125rem;
  }
}

@media (max-width: 320px) {
  .product .product-contents .product-top h2 {
    font-size: 2rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .product .product-contents .product-top h2 {
    font-size: 2rem;
  }
}

.product .product-contents .product-top p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
  padding-bottom: 1rem;
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 1299.98px) {
  .product .product-contents .product-top p {
    width: 100%;
  }
}

.product .product-contents .product-details {
  width: 85%;
  margin: 0 auto;
}

@media (max-width: 1299.98px) {
  .product .product-contents .product-details {
    width: 100%;
  }
}

.product .product-contents .product-details .single-item .item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3rem;
}

.product .product-contents .product-details .single-item .item-title h5 {
  width: 4rem;
  height: 4rem;
  border: 0.1875rem solid var(--white);
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 575.98px) {
  .product .product-contents .product-details .single-item .item-title h5 {
    width: 3.5rem;
    height: 3.5rem;
  }
}

.product .product-contents .product-details .single-item .item-title h5 span {
  font-size: 2rem;
  font-family: var(--font3);
}

@media (max-width: 575.98px) {
  .product .product-contents .product-details .single-item .item-title h5 span {
    font-size: 1.75rem;
  }
}

.product .product-contents .product-details .single-item .item-title h2 {
  font-size: 2.25rem;
  font-weight: 500;
  padding-left: 2.5rem;
}

@media (max-width: 575.98px) {
  .product .product-contents .product-details .single-item .item-title h2 {
    font-size: 2rem;
    padding-left: 1rem;
  }
}

@media (max-width: 320px) {
  .product .product-contents .product-details .single-item .item-title h2 {
    font-size: 1.75rem;
  }
}

.product .product-contents .product-details .single-item p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 2rem 0;
}

.product .product-contents .product-details .single-item img {
  width: 100%;
  height: auto;
}

.product .product-contents .product-details .single-item .list-items {
  padding-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product .product-contents .product-details .single-item .list-items .single-list {
  width: 33%;
  margin-bottom: 3.5rem;
}

@media (max-width: 575.98px) {
  .product .product-contents .product-details .single-item .list-items .single-list {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .product .product-contents .product-details .single-item .list-items .single-list {
    width: 50%;
  }
}

.product .product-contents .product-details .single-item .list-items .single-list h4 {
  font-family: var(--font3);
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 1rem;
}

.product .product-contents .product-details .single-item .list-items .single-list ul {
  padding-left: 2rem;
}

.product .product-contents .product-details .single-item .list-items .single-list ul li {
  list-style-type: disc;
}

.product .product-contents .product-details .single-item .list-items .single-list ul li span {
  font-family: var(--font2);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
}

.product .product-contents .product-details .single-item .extra-details p {
  padding: 1.5rem 0;
}

.product .product-contents .product-details .single-item .extra-details .imp {
  font-family: var(--font4);
  font-weight: 700;
  color: var(--white);
  -webkit-text-stroke: 0.035rem white;
  letter-spacing: 0.1rem;
  font-size: 1rem;
}

.product .product-contents .product-details .single-item .extra-details ul {
  padding-left: 2rem;
}

.product .product-contents .product-details .single-item .extra-details ul li {
  font-family: var(--font2);
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 400;
  list-style-type: disc;
  padding-bottom: 0.25rem;
}

.team {
  padding: 10rem 0 0 0;
  position: relative;
  z-index: 1;
}

.team .team-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991.98px) {
  .team .team-contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.team .team-contents .team-left {
  width: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 991.98px) {
  .team .team-contents .team-left {
    text-align: center;
    width: 100%;
    margin-bottom: 5rem;
  }
}

.team .team-contents .team-left div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team .team-contents .team-left .team-img .team-flip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
}

.team .team-contents .team-left .team-img .team-flip .front, .team .team-contents .team-left .team-img .team-flip .back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.team .team-contents .team-left .team-img .team-flip .front img {
  cursor: pointer;
  width: 13.125rem;
  height: 13.125rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0.75rem;
}

@media (max-width: 575.98px) {
  .team .team-contents .team-left .team-img .team-flip .front img {
    margin: 0.35rem;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  .team .team-contents .team-left .team-img .team-flip .front img {
    width: 12rem;
    height: 12rem;
  }
}

@media (max-width: 320px) {
  .team .team-contents .team-left .team-img .team-flip .front img {
    width: 11rem;
    height: 11rem;
  }
}

.team .team-contents .team-left .team-img .team-flip .back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background: linear-gradient(-45deg, var(--skyblue) 5%, var(--darkblue) 100%);
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 10px;
}

.team .team-contents .team-left .team-img .team-flip .back h2 {
  font-family: var(--font2);
  font-size: 1.25rem;
  font-weight: 500;
}

@media (max-width: 575.98px) {
  .team .team-contents .team-left .team-img .team-flip .back h2 {
    font-size: 1rem;
  }
}

.team .team-contents .team-left .team-img .team-flip .back p {
  padding-top: 0.25rem;
  font-family: var(--font4);
  font-size: 1rem;
}

.team .team-contents .team-left .team-img:hover .team-flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.team .team-contents .team-right {
  width: 50%;
  padding-left: 5rem;
}

@media (max-width: 991.98px) {
  .team .team-contents .team-right {
    padding-left: 0;
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .team .team-contents .team-right {
    padding-left: 0;
  }
}

.team .team-contents .team-right h6 {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 1.5rem;
}

.team .team-contents .team-right h2 {
  font-size: 3rem;
  font-weight: 500;
  padding-bottom: 3.5rem;
}

@media (max-width: 575.98px) {
  .team .team-contents .team-right h2 {
    font-size: 2.125rem;
  }
}

@media (max-width: 320px) {
  .team .team-contents .team-right h2 {
    font-size: 2rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .team .team-contents .team-right h2 {
    font-size: 2rem;
  }
}

.team .team-contents .team-right p {
  font-family: var(--font4);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
  padding-bottom: 4rem;
}

.team .team-contents .team-right .social-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team .team-contents .team-right .social-icons ul li {
  margin-right: 1.5rem;
}

.team .team-contents .team-right .social-icons ul li a img {
  width: 2rem;
  height: 2rem;
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}

.team .team-contents .team-right .social-icons ul li a img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.css-v89g85 {
  background-color: var(--skyblue) !important;
}

.sponsors {
  padding-top: 10rem;
  position: relative;
}

.sponsors .sponsors-contents {
  text-align: center;
}

.sponsors .sponsors-contents h6 {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 1.5rem;
}

.sponsors .sponsors-contents h2 {
  font-size: 3rem;
  font-weight: 500;
  padding-bottom: 1rem;
}

@media (max-width: 575.98px) {
  .sponsors .sponsors-contents h2 {
    font-size: 2.125rem;
  }
}

@media (max-width: 320px) {
  .sponsors .sponsors-contents h2 {
    font-size: 2rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .sponsors .sponsors-contents h2 {
    font-size: 2rem;
  }
}

.sponsors .sponsors-contents p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
  padding-bottom: 1rem;
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 1299.98px) {
  .sponsors .sponsors-contents p {
    width: 100%;
  }
}

.sponsors .sponsors-contents .sponsors-slider {
  padding: 3rem 0;
}

.sponsors .sponsors-contents .sponsors-slider .single-item {
  padding-bottom: 3rem;
}

.sponsors .sponsors-contents .sponsors-slider .single-item img {
  width: 100%;
  height: auto;
}

.sponsors .sponsors-contents .sponsors-slider .swiper-pagination-bullet {
  width: 0.75rem;
  height: 0.75rem;
  background: var(--white);
  opacity: 0.75;
}

.sponsors .sponsors-contents .sponsors-slider .swiper-pagination-bullet-active-main {
  border: 0.125rem solid white;
  background: transparent !important;
}

.contact {
  padding: 3rem 0;
}

.contact .contact-contents {
  width: 86%;
  margin: 0 auto;
  position: relative;
  padding: 6rem 1rem;
  text-align: center;
  border-radius: 1.25rem;
}

@media (max-width: 575.98px) {
  .contact .contact-contents {
    width: 100%;
    padding: 5rem 1.5rem;
  }
}

@media (min-width: 576px) and (max-width: 1299.98px) {
  .contact .contact-contents {
    width: 100%;
    padding: 5rem;
  }
}

.contact .contact-contents::before {
  content: "";
  position: absolute;
  background: linear-gradient(40deg, rgba(161, 198, 221, 0.5) 0%, rgba(161, 198, 221, 0.225) 100%);
  -webkit-filter: blur(1);
          filter: blur(1);
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 20px;
}

.contact .contact-contents h6 {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 1.5rem;
}

.contact .contact-contents h2 {
  font-size: 3rem;
  font-weight: 500;
  padding-bottom: 1rem;
}

@media (max-width: 575.98px) {
  .contact .contact-contents h2 {
    font-size: 2.125rem;
  }
}

@media (max-width: 320px) {
  .contact .contact-contents h2 {
    font-size: 2rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .contact .contact-contents h2 {
    font-size: 2rem;
  }
}

.contact .contact-contents p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
  padding-bottom: 1rem;
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 1299.98px) {
  .contact .contact-contents p {
    width: 100%;
  }
}

.contact .contact-contents .contact-form {
  padding: 3rem 0 1rem 0;
}

.contact .contact-contents .contact-form form .form-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .contact-contents .contact-form form .form-items input, .contact .contact-contents .contact-form form .form-items textarea {
  width: 60%;
  font-family: var(--font2);
  font-size: 1.5rem;
  background-color: transparent;
  color: var(--white);
  padding: 0.85rem 1.5rem;
  margin-bottom: 1rem;
  border: 0.2rem solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3.75rem;
}

@media (max-width: 575.98px) {
  .contact .contact-contents .contact-form form .form-items input, .contact .contact-contents .contact-form form .form-items textarea {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 1299.98px) {
  .contact .contact-contents .contact-form form .form-items input, .contact .contact-contents .contact-form form .form-items textarea {
    width: 80%;
  }
}

.contact .contact-contents .contact-form form .form-items textarea {
  border-radius: 1.85rem;
  padding: 0.95rem 1.5rem;
}

.contact .contact-contents .contact-form form .form-items ::-webkit-input-placeholder {
  color: var(--white);
  opacity: 1;
}

.contact .contact-contents .contact-form form .form-items :-ms-input-placeholder {
  color: var(--white);
  opacity: 1;
}

.contact .contact-contents .contact-form form .form-items ::-ms-input-placeholder {
  color: var(--white);
  opacity: 1;
}

.contact .contact-contents .contact-form form .form-items ::placeholder {
  color: var(--white);
  opacity: 1;
}

.contact .contact-contents .contact-form form .form-items button {
  border: 0.125rem solid var(--white);
  padding: 1rem 3rem;
  border-radius: 2.75rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--darkblue);
  text-transform: uppercase;
  cursor: pointer;
  margin: 2rem 0;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

@media (max-width: 575.98px) {
  .contact .contact-contents .contact-form form .form-items button {
    font-size: 1rem;
  }
}

.contact .contact-contents .contact-form form .form-items button:hover {
  border-radius: 0;
}

.footer {
  padding-top: 7rem;
  position: relative;
}

.footer .footer-contents .footer-top {
  text-align: center;
}

.footer .footer-contents .footer-top img {
  width: 6.5625rem;
  height: 4.25rem;
}

.footer .footer-contents .footer-top .footer-links {
  padding: 3rem 0 4rem 0;
}

@media (max-width: 575.98px) {
  .footer .footer-contents .footer-top .footer-links {
    padding: 3.5rem 0 2rem 0;
  }
}

.footer .footer-contents .footer-top .footer-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 575.98px) {
  .footer .footer-contents .footer-top .footer-links ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer .footer-contents .footer-top .footer-links ul li {
  margin: 0 0.85rem;
}

@media (max-width: 575.98px) {
  .footer .footer-contents .footer-top .footer-links ul li {
    margin-bottom: 1.75rem;
  }
}

.footer .footer-contents .footer-top .footer-links ul li a {
  font-family: var(--font2);
  color: var(--white);
  font-size: 1rem;
  font-weight: 400;
}

.footer .footer-contents .footer-below {
  position: relative;
}

.footer .footer-contents .footer-below::before {
  content: "";
  background-color: var(--white);
  width: 100%;
  height: 1px;
  opacity: 0.2;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}

.footer .footer-contents .footer-below .below-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 0;
}

@media (max-width: 575.98px) {
  .footer .footer-contents .footer-below .below-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .footer-contents .footer-below .below-items .footer-left h3 {
  font-family: var(--font2);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
}

@media (max-width: 575.98px) {
  .footer .footer-contents .footer-below .below-items .footer-right {
    padding-top: 2rem;
  }
}

.footer .footer-contents .footer-below .below-items .footer-right .social-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-contents .footer-below .below-items .footer-right .social-icons ul li {
  margin-right: 1.5rem;
}

@media (max-width: 575.98px) {
  .footer .footer-contents .footer-below .below-items .footer-right .social-icons ul li {
    padding-top: 2rem;
  }
}

@media (max-width: 575.98px) {
  .footer .footer-contents .footer-below .below-items .footer-right .social-icons ul li:last-child {
    margin-right: 0;
  }
}

.footer .footer-contents .footer-below .below-items .footer-right .social-icons ul li a img {
  width: 1.75rem;
  height: 1.75rem;
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}

.footer .footer-contents .footer-below .below-items .footer-right .social-icons ul li a img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.notFound {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.notFound .notfound-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notFound .notfound-text h2 {
  display: inline-block;
  border-right: 1px solid white;
  margin-right: 1.25rem;
  padding-right: 1.25rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.notFound .notfound-text .bar {
  display: inline-block;
  text-align: left;
}

.notFound .notfound-text .bar h3 {
  font-family: var(--font2);
  font-size: 1rem;
  font-weight: 400;
}

.notFound button {
  border: 0.125rem solid var(--white);
  padding: 1rem 3rem;
  border-radius: 2.75rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--darkblue);
  text-transform: uppercase;
  cursor: pointer;
  margin: 2rem 0;
}

@media (max-width: 575.98px) {
  .notFound button {
    font-size: 1rem;
  }
}

.notFound button:hover {
  border-radius: 0;
  -webkit-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

@media (max-width: 575.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1300px) and (max-width: 1531.98px) {
  html {
    font-size: 13px;
  }
}

body {
  background-color: var(--darkblue);
  color: var(--white);
  font-family: var(--font1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar {
  width: 0.1875rem;
}

::-webkit-scrollbar-track {
  border-radius: 0.625rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.625rem;
  background: var(--skyblue);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: var(--skyblue);
}

.overflowX {
  overflow-x: hidden;
}

p {
  font-family: var(--font2);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  margin: 0;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a, select, input, textarea, button {
  outline: none !important;
}

.btn:focus, .btn.focus, .form-control:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: none;
}

.container {
  width: 90rem;
  margin: 0 auto;
  padding: 0 0.9rem;
}

@media (max-width: 575.98px) {
  .container {
    width: 95%;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .container {
    width: 60rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .container {
    width: 72rem;
  }
}

.justify-content-start {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}

@media (min-width: 992px) {
  .pl-2-md {
    padding-left: 2rem !important;
  }
}

@media (min-width: 992px) {
  .pr-2-md {
    padding-right: 2rem !important;
  }
}

.pt-0 {
  padding-top: 0 !important;
}

@media (max-width: 575.98px) {
  .mb-xs-0 {
    margin-bottom: 0 !important;
  }
}

.pb-2 {
  padding-bottom: 2rem !important;
}

@media (min-width: 576px) {
  .pb-2-md {
    padding-bottom: 2rem !important;
  }
}

.w-100 {
  width: 100% !important;
}

@media (min-width: 576px) {
  .w-50-sm {
    width: 50% !important;
  }
}
/*# sourceMappingURL=style.css.map */