@import './variables';
@import './loader';
@import './header';
@import './hero';
@import './features';
@import './about';
@import './product';
@import './team';
@import './sponsors';
@import './contact';
@import './footer';
@import './notfound';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    @media (max-width: 575.98px) {
        font-size: 12px;
    }
    @media (min-width: 576px) and (max-width: 991.98px){
        font-size: 12px;
    }
    @media (min-width: 992px) and (max-width: 1299.98px){
        font-size: 12px;
    }
    @media (min-width: 1300px) and (max-width: 1531.98px){
        font-size: 13px;
    }
}

body {
    background-color: $darkblue;
    color: $white;
    font-family: $font1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 0.3s ease-in-out;
}



::-webkit-scrollbar {
    width: 0.1875rem;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 0.625rem;
    border-radius: 0.625rem;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0.625rem;
    border-radius: 0.625rem;
    background: $skyblue;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: $skyblue;
}

.overflowX {
	overflow-x: hidden;
}

p{
    font-family: $font2;
}

ul{
	margin: 0;
	padding:0;
	list-style: none;
}

a{
	margin:0;
	text-decoration: none;
}

a:hover{
	text-decoration:none;
}

a, select , input , textarea , button{
	outline: none !important;
}

.btn:focus, .btn.focus, .form-control:focus {
    outline: 0;
    box-shadow: none;
}

.btn-link:focus, .btn-link.focus {
    text-decoration: none;
}

.container {
    width: 90rem;
    margin: 0 auto;
    padding: 0 0.9rem;
    @media (max-width: 575.98px) {
        width: 95%;
    }
    @media (min-width: 576px) and (max-width: 991.98px){
        width: 60rem;
    }
    @media (min-width: 992px) and (max-width: 1299.98px){
        width: 72rem;
    }
}

.justify-content-start{
    justify-content: flex-start !important;
}

.pl-2-md{
    @media (min-width: 992px) {
        padding-left: 2rem !important;
    }
}

.pr-2-md{
    @media (min-width: 992px) {
        padding-right: 2rem !important;
    }
}

.pt-0{
    padding-top: 0 !important;
}
.mb-xs-0{
    @media (max-width: 575.98px) {
        margin-bottom: 0 !important;
    }
}
.pb-2{
    padding-bottom: 2rem !important;
}

.pb-2-md{
    @media (min-width: 576px) {
        padding-bottom: 2rem !important;
    }
}

.w-100{
    width: 100% !important;
}

.w-50-sm{
    @media (min-width: 576px){
        width: 50% !important;
    }
}

